/* Stylesheet for Bootstrap BNB for Chapter 5
	Author: Sabrina
	Date: 5/31/19
	filename: styles.css
*/

.nav li {
	display: inline;
}

.nav a {
	font-size: 24px;
	font-weight: bold;
	padding: 0 20px;
	transition: color 1s;
}

.nav a:hover {
	color: green;
	text-decoration: none;
}

.nav {
	padding-top: 14px;
	background-color: #A9A9A9; 
}

.jumbotron {
	background-image: url(kitchen.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	height: 500px;
}


